* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfad3;
}

@media (max-width: 900px) {
}

@media (min-width: 900px) {
  .dark-logo-image-startingPage {
    position: absolute;
    top: 17%;
    left: 15%;
  }

  .underline-startingPage {
    position: absolute;
    top: 25%;
    left: 15%;
    background-color: #729d39;
    height: 5px;
    width: 600px;
    border-radius: 50px;
  }

  .underline-quote {
    position: absolute;
    top: 25.5%;
    left: 15%;
    font-size: 36px;
    font-family: "Italianno", cursive;
  }

  .underline-info {
    position: absolute;
    top: 32%;
    left: 15%;
    font-size: 36px;
    font-family: "Inconsolata", monospace;
  }

  .underline-signup {
    position: absolute;
    width: 375px;
    height: 60px;
    left: 15%;
    top: 55%;
    background: #c6e377;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .underline-signup-text {
    transition: all 0.1s ease-in-out;
    font-size: 32px;
    font-family: "Inconsolata", monospace;
  }

  .underline-signup-text:hover {
    font-size: 34px;
  }

  .startingPage-circle-inner {
    position: fixed;
    width: 1900px;
    height: 1800px;
    left: -175px;
    top: -885px;

    background-color: #fbfad3;
    border-radius: 100%;
    z-index: -1;
  }

  .startingPage-circle-mid-line {
    position: fixed;
    width: 2200px;
    height: 2000px;
    left: -270px;
    top: -950px;
    border: 10px solid #C6E377;
    border-radius: 100%;
    z-index: -2;
  }

  .startingPage-circle-outter {
    position: fixed;
    width: 2400px;
    height: 2100px;
    left: -325px;
    top: -925px;

    background-color: #729d39;
    border-radius: 100%;
    z-index: -3;
  }
}
