* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  background-color: #36622b;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.navbar-logo-img {
  transition: all 0.1s ease-in-out;
  width: 100px;
  padding: 10px;
  position: relative;
  left: 30%;
}

.navbar-logo-text {
  transition: all 0.1s ease-in-out;
  width: 300px;
  bottom: 25px;
  left: 30%;
  padding: auto;
  margin: 0 auto;
  position: relative;
}

.navbar-logo-wrapper:hover .navbar-logo-img {
  filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 1));
  left: 29%;
}

.navbar-logo-wrapper:hover .navbar-logo-text {
  filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 1));
  width: 310px;
  left: 29%;
}

.btn-background-acc-linebreak {
  border-radius: 50px;
  position: absolute;
  right: 260px;
  top: 35px;
  height: 30px;
  width: 5px;
  background-color: #36622b;
}

@media (max-width: 1200px) {
  .btn-background-acc {
    position: absolute;
    width: 340px;
    height: 49px;
    right: 25px;
    top: 26px;
    background: #c6e377;
    border-radius: 50px;
  }

  .btn-background-acc-linebreak {
    right: 190px;
  }

  .btn-background-navbar {
    background-color: red;
    height: 200px;
    width: 200px;
  }

  .sign-up-btn {
    font-family: "Inconsolata", monospace;
    position: absolute;
    font-size: 26px;
    right: 225px;
    top: 20px;
  }

  .login-btn {
    font-family: "Inconsolata", monospace;
    position: absolute;
    font-size: 26px;
    right: 60px;
    top: 20px;
  }
}

@media (min-width: 1200px) {
  .btn-background-acc {
    position: absolute;
    width: 440px;
    height: 49px;
    right: 120px;
    top: 26px;
    background: #c6e377;
    border-radius: 50px;
  }

  .btn-background-acc-linebreak {
    right: 235px;
  }

  .sign-up-btn {
    font-family: "Inconsolata", monospace;
    position: absolute;
    font-size: 26px;
    right: 250px;
    top: 20px;
  }

  .login-btn {
    font-family: "Inconsolata", monospace;
    position: absolute;
    font-size: 26px;
    right: 125px;
    top: 20px;
  }
}

.sign-up-btn,
.login-btn {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  transition: all 0.1s ease-in-out;
}

.sign-up-btn:hover {
  font-size: 26.5px;
}

.login-btn:hover {
  font-size: 27px;
}

#btn-background-acc-home {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 20px;
}

#btn-background-acc-home img {
  width: 40px;
  position: fixed;
  top: 30px;
  margin-left: 80px;
}

#btn-background-acc-home div h4 {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

#btn-background-acc-home div img {
  width: 40px;
  transition: all 0.1s ease-in-out;
}

#btn-background-acc-home div:hover h4 {
  font-size: 22px;
}

#btn-background-acc-home div:hover img {
  width: 44px;
}
